body {
  background-image: url(https://images.unsplash.com/photo-1547105518-ef5c73a71c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: antiquewhite;
  background-color: saddlebrown;
}

header {
  margin: 5%;
  color: antiquewhite;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
}

.signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
}

input {
  font-family: inherit;
  font-size: 20px;
}

li {
  font-size: 17spx;
  list-style-type: none;
  color: antiquewhite;
}